body{
    .uñas-seccion{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .nails{
            display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    width: 100%;
                    height: 280px;
                    margin-bottom: 10px;
                }
                h1{
                background-color: $color-titulos;
                 text-align: center;
                 text-transform: uppercase;
                padding: 5px;
                width: 100%;
                font-size: 25px;
                }
                ul{
                    align-self: stretch;
                    margin: 10px;
                    li{
                        text-align: left;
                        margin: 5px;
                    }
                }
        }
        @media screen and (min-width:768px){
            .nails{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                h1{
                    padding: 10px;
                }
                .nails_img1{
                    width: 100%;
                    height: 500px;
                }
                .nails_img2{
                    width: 100%;
                    height: 580px;
                }
            }
        }
    }
    
}